:root{
    --font: Dosis, Comic Sans;
    --main-orange:  rgb(250,125,25);
    --main-brownish: #BB8588;
    --bluish: #BAD7F2;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    font-family: var(--font);
    overflow: hidden;
    /* background-image: linear-gradient(90deg,  rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}

.modal-1{
    height: 600px;
    width: 800px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 400ms;
    border-radius: 25px;
    overflow-y: hidden;
}

.modal-1.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-content-1{
    height: 100%;
}

header{
    height: 10%;
    width: 100%;
}

.nav-bar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    /* background-color:var(--main-orange); */
    overflow-y: hidden;
    background-color: var(--main-brownish);
}


.img-container{
    height: 90%;
    width: 10%;
    
}

.logo{
    margin-top: -10px;
    height: 100px;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    
}

.navigation-bar{
    margin-left: 30%;
    width: 20%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.navigation-bar li{
    font-size: 1.2rem;
    background-color: white;
    padding: 5px 18px;
    border-radius: 0.5rem;
    background-color: VAR(--bluish);
}
/* 
.navigation-bar li:hover, .navigation-bar ul li a:hover{
    background-color: var(--main-orange);
    color: white;
} */

a{
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 600;
}

main{
    height: 80%;
    width: 100%;
}

.nav-bar-main{
    height: 10%;
    width: 100%;
    /* background-color: var(--main-orange); */
    border-top: 1px solid gray;
}

.side-bar-nav{
    background-color: var(--bluish);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.side-bar-nav li{
    background-color: var(--main-brownish);
    cursor: pointer;
    list-style: none;
    padding: 5px 18px;
    margin-inline: 50px;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

.modal-section{
    background-color: var(--bluish);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    /* background-color: red; */
}

.modal{
    position: relative;
    /* height: 100%;
    width: 100%; */
    background-color: rgba(0,0,0,.7);
    overflow-y: hidden;
}

.modalOpen{
    animation: modalOpen 100ms ease-in-out forwards;
}

@keyframes modalOpen{
    0%{
        width: 0px;
        height: 0px;
    }
    1%{
        width: 1px;
        height: 1px;
    }
    50%{
        width: 100%;
        height: 3px;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}

.modalClose{
    animation: modalClose 1000ms ease-in-out;
}

@keyframes modalClose{
    0%{
        width: 100%;
        height: 100%;
    }
    50%{
        width: 100%;
        height: 3px;
    }
    99%{
        width: 1px;
        height: 1px;
    }
    100%{
        width: 0;
        height: 0;
    }
}

.gallery-container{
    width: 100%;
    height: 80%;
    background-color: var(--bluish);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 3%;
}

.gallery-container img{
    margin-inline: 10px;
    height: 90%;
    display: inline;
    box-shadow: 5px 10px 30px #504f4f;
    object-fit: cover;
}

.gallery-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
   .galler-container {
    -ms-overflow-style: none;  /*IE and Edge*/
    scrollbar-width: none;  /* Firefox */
  } */

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* height: 80%;
    width: 70%; */
    display: none;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
}

.modalContentOpen{
    animation: modalContentOpen 1000ms ease-in-out 1000ms forwards;
}

@keyframes modalContentOpen{
    0%{
        width: 0px;
        height: 0px;
    }
    1%{
        width: 1px;
        height: 1px;
    }
    50%{
        width: 70%;
        height: 3px;
    }
    100%{
        width: 70%;
        height: 80%;
    }
}

.modalContentClose{
    animation: modalContentOpen 1000ms ease-in-out forwards;
}

@keyframes modalContentClose{
    0%{
        width: 70%;
        height: 80%;
    }
    50%{
        width: 7%;
        height: 3px;
    }
    99%{
        width: 1px;
        height: 1px;
    }
    100%{
        width: 0;
        height: 0;
    }
}


.top-menu{
    width: 100%;
    height: 7%;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
}

.top-menu ul li{
    margin-inline: 20%;
}

.top-menu ul li a{
    text-decoration: none;
    color: black;
}

/* .vl{
    position: absolute;
    left: 50%;
    height: 3%;
    width: 1px;
    background-color: black;
} */

.menu{display: block;}
.recipe{display: none;}


.side-menu{
    height: 100%;
    width: 20%;
    border-right: 1px solid;
    margin: 0;
}

.side-menu ul{
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li{
    padding: 10px 0;
    text-align: center;
}

.side-menu a{
    cursor: pointer;
    text-decoration: none;
}

.hl{
    height: 1px;
    width: 100%;
    background-color: gray
}

.central-part{
    height: 93%;
    width: 100%;
    /* background-color: red; */
    display: flex;

}
.right-section{
    height: 100%;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.right-section h1{
    padding-top: 10px;
    padding-left: 50px;
    margin: 0;
}

.right-section p{
    padding-left: 25px;
}

.pic-container{
    height: 300px;
    width: 95%;
    display: flex;
    justify-content: center;
}

.pic-container img{
    display: block;
    height: 100%;
    text-align: center;
}

.article-container{
    padding: 0;
    margin: 0;
    min-height: 100%;

}

.hidden{
    display: none;
}

footer{
    height: 10%;
    width: 100%;
    border-top: solid 1px gray;
    background-color: VAR(--main-brownish);
}