:root{
    --font: Dosis, Comic Sans;
    --main-orange:  rgb(250,125,25);
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    font-family: var(--font);
    overflow: hidden;
    background-image: linear-gradient(90deg,  rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    height: 10%;
    width: 100%;
}

.nav-bar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    /* background-color:var(--main-orange); */
    overflow-y: hidden;
}


.img-container{
    height: 90%;
    width: 10%;
    
}

.logo{
    margin-top: -10px;
    height: 100px;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    
}

.navigation-bar{
    margin-left: 30%;
    width: 20%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.navigation-bar li{
    font-size: 1.2rem;
    background-color: white;
    padding: 5px 18px;
    border-radius: 0.5rem;
}

.navigation-bar li:hover, .navigation-bar ul li a:hover{
    background-color: var(--main-orange);
    color: white;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

main{
    height: 80%;
    width: 100%;
}

.nav-bar-main{
    height: 10%;
    width: 100%;
    /* background-color: var(--main-orange); */
    border-top: 1px solid gray;
}

.side-bar-nav{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.side-bar-nav li{
    cursor: pointer;
    list-style: none;
    padding: 5px 18px;
    margin-inline: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: white;
    border-radius: 0.5rem;
    font-weight: 600;
}

.modal-section{
    height: 90%;
    width: 100%;
    /* background-color: red; */
}

.modal{
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.7);
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    width: 70%;
    border-radius: 10px;
    background-color: #fff;
}

footer{
    height: 10%;
    width: 100%;
    border-top: solid 1px gray;
    /* background-color: grey; */
}