:root{
    --font: Dosis, Comic Sans;
    --main-orange:  rgb(250,125,25);
    --main-brownish: #BB8588;
    --bluish: #BAD7F2;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    font-family: var(--font);
    overflow: hidden;
}


